<div ng-show="table.user.isDinnerGuest()" class="table main-content-area">
    <h3 class="text-align-center">Your Table</h3>
    <p class="smaller-text text-align-center">(this is subject to change)</p>

    <div class="flex border-radius-sm paper-card-container text-align-center paper-card landscape">
        <div class="paper-card-content">
            <h1 class="paper-card-heading">At Your Table</h1>

            <p class="text-align-center" ng-if="table.loading === true">
                Loading...
            </p>

            <ul ng-if="table.loading === false">
                <li ng-repeat="seat in table.seats track by table.trackSeat(seat, $index)">{{ ::seat.name }}{{ ::seat.isAttending != 1 ? ' *' : '' }}</li>
            </ul>
        </div>
    </div>

    <p ng-if="table.getTotalNoRsvp() > 0" class="smaller-text text-align-center">* has not RSVP'd yet.</p>
</div>
